.vscode/
.github
.mypy_cache
.pytest_cache
.ruff_cache
.coverage
.venv
.env
.env-sample
**/__pycache__/
**/*.py[cod]
.git
.gitignore
.python-version
nginx
postgres
htmlcov
postgres
README.md
Dockerfile.dev
Dockerfile.prod
docker-compose-dev.yml
docker-compose-prod.yml
.pre-commit-config.yaml
LICENSE
